<nav id="#" class="navbar navbar-default main-colored">
    <div class="container-fluid">
        <div class="navbar-header">
            <a role="button" routerLink="/dashboard" class="navbar-brand" >FS Manager</a>
        </div>
        <div class="colapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" ><a class="nav-text" href="#" routerLink="/dashboard">Dashboard</a></li>
                <li routerLinkActive="active" ><a class="nav-text" href="#" [routerLink]="['dashboard','products']">Products</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="true;">
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" aria-disabled="true" role="button">User <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" routerLink="user/new">Sign-up</a></li>
                        <li><a href="#" routerLink="user/login">Login</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right"  *ngIf="false;">
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" aria-disabled="true" role="button">User <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" routerLink="/user/:">User Account</a></li>
                        <li><a href="#" routerLink="/user/logout">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>