 
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li 
          class="nav-item"
          [routerLinkActive]="'active'"
          >
          <a 
            class="nav-link" 
            href="#"
            [routerLink]="['/products/list']"
          >
          <i class="bi bi-receipt"></i>
            Products <span class="sr-only"></span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a 
            class="nav-link" 
            href="#"
            [routerLink]="['/products/expires-in-1-month']"
          >
          <i class="bi bi-stopwatch"></i>
            Within 30 Days
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a 
            class="nav-link" 
            href="#"
            [routerLink]="['/products/expires-in-3-months']"
            >
            <i class="bi bi-stopwatch"></i>
            Within 3 Months
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a 
            class="nav-link" 
            href="#"
            [routerLink]="['/products/expires-in-1-year']"
            >
            <i class="bi bi-stopwatch"></i>
            Within 1 Year
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a 
            class="nav-link" 
            href="#"
            [routerLink]="['/products/expired']"
            >
            <i class="bi bi-shield-exclamation"></i>
            Expired Products
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a 
            class="nav-link" 
            href="#"
            [routerLink]="['/products/new']"
            >
            <i class="bi bi-plus-circle"></i>
            Add Product
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="table-responsive">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>