
<div class="row">

    <div class="col-md-12" *ngIf="user==undefined">

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        
            <h1 class="display-4">The Food Storage App</h1>

            <p class="lead">This application helps you manage your food storage and make sure you 
                always stay on top of your preparedness. The first step is to sign up to an account, log in and you'll be ready to 
                load the number of people you manage the storage for, and the food items ion your storage.<br/><br/>
            </p>
    
        </div>

        <section class="jumbotron text-center">
            <div class="container">
                <p>
                    <a 
                        type="button"
                        class="btn btn-primary my-2"
                        routerLink="../user/new"
                    >Signup
                    </a>
                    <a 
                        type="button"
                        class="btn btn-secondary my-2"
                        routerLink="../user/login"
                    >Login
                    </a>
                </p>
            </div>
        </section>

    </div>

    <div class="col-md-12" *ngIf="user">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        
            <h1 class="display-4">Food Storage Summary:</h1>
            <p class="lead">The statistics below are based on your profile provided information and the products your
                that you added. Make sure you keep your food storage up to date. Food that will soon expire 
                may affect your health.
            </p>
    
            <p style="color:#E63946"> 
                You have 6 days worth of food left in your food storage. 
            </p>
    
        </div>
      
        <div class="container">
    
            <div class="card-deck mb-3 text-center">
    
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Expire in 30 days</h4>
                    </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ month }}<small class="text-muted"> {{ month==1? 'item':'items' }}</small></h1>
                    <!-- <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                    </ul>-->
                    <a 
                        type="button" 
                        class="btn btn-md btn-block btn-prime btn-outline"
                        [routerLink]="['/products/expires-in-1-month']"
                        >Manage</a> 
                </div>
                </div>
    
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Expire in 3 months</h4>
                    </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ threeMonths }}<small class="text-muted"> {{ threeMonths==1? 'item':'items' }}</small></h1>
                    <!-- <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                    </ul>-->
                    <a 
                        type="button" 
                        class="btn btn-md btn-block btn-prime btn-outline"
                        [routerLink]="['/products/expires-in-3-months']"
                        >Manage</a>                 
                    </div>
                </div>
    
                <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Expire in a year</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ year }}<small class="text-muted"> {{ year==1? 'item':'items' }}</small></h1>
                    <!-- <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                    </ul>-->
                    <a 
                        type="button" 
                        class="btn btn-md btn-block btn-prime btn-outline"
                        [routerLink]="['/products/expires-in-1-year']"
                        >Manage</a>                 
                    </div>
                </div>
    
            </div>
            
        </div>
    </div>

</div> 

