<div *ngIf="user==undefined;" class="col-xs-12 ">

    <form class="form-signin" id="user-signin" (ngSubmit)="onSubmit(signInform)" #signInform="ngForm">
        <h1 class="h3 mb-3 font-weight-normal align-items-center text-center">Sign into your account</h1>

        <div class="row">
            <div class="col-sm-12 form-group">
            <input
                type="email"
                id="email"
                class="form-control"
                name="email"
                [ngModel]=""
                size="120"
                max="255"
                #email="ngModel"
                placeholder="Enter email"
                required
                autofocus
                >
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12 form-group">
            <input
                type="password"
                id="password"
                class="form-control"              
                name="password"
                [ngModel]=""
                size="150"
                ngModel
                #password="ngModel"
                placeholder="Enter Password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                required
                >
            </div>
        </div>
        <div 
            class="alert alert-danger"
            *ngIf="!password.valid && password.touched"
            >Please make sure your password has a minimum of 8 characters, has atleast 1 number with atleast 1 uppercase and atleast 1 lowercase.
        </div>

        <div 
            class="alert alert-danger"
            *ngIf="!password.valid || !email.valid"
            >Email  and password input fields are required.
        </div>
        <div class="btn-toolbar">
            <button 
                class="btn btn-lg btn-prime btn-block" 
                type="submit"
                [disabled]="!signInform.valid" 
                >Sign in
            </button>
            <button 
                class="btn btn-lg btn-dnger btn-block" 
                type="button" 
                (click)="onCancel()"
                >Cancel
            </button>
        </div>
    
    </form>

 </div>

 <div *ngIf="user" class="col-md-6">
    <h2>Hello. You're not signed in.</h2>
</div>